[Desktop Entry]
Type=Application
Name=LTE Applet
Comment=Fibocom LTE Connection Manager
Exec=$HOME/.local/bin/lte-applet-gtk.py
Icon=network-cellular
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
StartupNotify=false
